<header class="header">
    <mat-toolbar>
        <a
          class="header-logo"
          routerLink="/"
        >
          <img
            src="../../../assets/images/logo.png"
            width="40"
            height="40"
            alt="Pokedex Logo"
          />
  
          <h1>Pokedex</h1>
        </a>

        <nav class="header-navbar">
          <a class="header-item"routerLink="/">
            <img
              src="../../../assets/images/icons/cubes-solid.svg"
              width="15"
              height="15"
              alt="Inicio"
            />
            <p>Inicio</p>
          </a>

          <a class="header-item"routerLink="/favoritos">
            <img
              src="../../../assets/images/icons/heart-solid.svg"
              width="15"
              height="15"
              alt="Favoritos"
            />
            <p>Favoritos</p>
          </a>
        </nav>
    </mat-toolbar>
</header>
